<table width="720" border="0" bordercolor="red" cellpadding="0" cellspacing="0">
<tr> 
<td><a href="http://www.halifax.ca/index.asp"      onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image6','','../../sharedHRM/images/hrm_logo2.gif',1)"><img src="../../sharedHRM/images/hrm_logo.gif" alt="Halifax Regional Municipality" name="Image6" width="200" height="80" border="0" id="Image6"/></a></td>
<td><a href="http://www.halifax.ca/residents.asp"  onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image2','','../../sharedHRM/images/residents2.jpg',1)"><img src="../../sharedHRM/images/residents1.jpg" alt="Residents" name="Image2" width="130" height="80" border="0" id="Image2" /></a></td>
<td><a href="http://www.halifax.ca/visitors.asp"   onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','../../sharedHRM/images/visitors2.jpg',1)"><img src="../../sharedHRM/images/visitors1.jpg" alt="Visitors" name="Image3" width="130" height="80" border="0" id="Image3" /></a></td>
<td><a href="http://www.halifax.ca/business.asp"   onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','../../sharedHRM/images/business2.jpg',1)"><img src="../../sharedHRM/images/business1.jpg" alt="Business" name="Image4" width="131" height="80" border="0" id="Image4" /></a></td>
<td><a href="http://www.halifax.ca/government.asp" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image5','','../../sharedHRM/images/government2.jpg',1)"><img src="../../sharedHRM/images/government1.jpg" alt="Government" name="Image5" width="129" height="80" border="0" id="Image5" /></a></td>
</tr>
</table>


