			<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td align="left" valign="top"><img src="../../sharedHRM/images/structural/tabs/tab_menu.gif" alt="Top Links" width="110" height="20" /></td>
              </tr>
              <tr> 
                <td align="left" valign="top" bgcolor="#EFBC2F"> 
				<table width="100%" border="0" align="center" cellpadding="10" cellspacing="0">
                    <tr> 
                      <td align="left" valign="top" bgcolor="#F7DE97">
				  		<table class="side_links" width="100%"  border="0" cellspacing="3" cellpadding="0">
                          <tr bgcolor="#F7DE97">
                            <td><a href="/accessHRM/home.jsf">Online Customer Service</a></td>
                          </tr>
                          <tr bgcolor="#F7DE97">
                            <td><a href="http://www.halifax.ca/customer_service/index.html">Customer Service Centres</a></td>
                          </tr>
                          <tr bgcolor="#F7DE97">
                            <td><a href="http://www.halifax.ca/contact.html">Contact HRM</a></td>
                          </tr>
                           <tr bgcolor="#F7DE97">
                            <td><a href="http://www.halifax.ca/StreetDirectory/">Street Maintenance Directory</a></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                          </tr>
                          <tr bgcolor="#F7DE97">
                            <td><a href="http://www.halifax.ca/legislation/index.html">By-Laws</a></td>
                          </tr>
                          <tr bgcolor="#F7DE97">
                            <td><a href="http://www.halifax.ca/hr/jobs.html">Jobs with HRM</a></td>
                          </tr>
                          <tr bgcolor="#F7DE97">
                            <td><a href="http://www.halifax.ca/metrotransit/documents/schedules/index.html">Metro Transit Schedules &amp; Route Maps</a></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
			    </td>
           	  </tr>
			</table>

			<br />

			<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" valign="top"><img src="../../sharedHRM/images/structural/tabs/tab_I_want_to.gif" alt="I Want To..." title="I Want To..." width="110" height="20" /></td>
              </tr>
              <tr> 
                <td align="left" valign="top" bgcolor="#EFBC2F"> 
				<table width="100%" border="0" align="center" cellpadding="10" cellspacing="0">
                    <tr> 
                      <td align="left" valign="top" bgcolor="#F7DE97">
				  		<table class="side_links" width="100%"  border="0" cellspacing="3" cellpadding="0">
                          <tr bgcolor="#F7DE97">
                            <td><a href="http://www.halifax.ca/revenue/genrev/alarm_permits.html">Get an alarm permit</a></td>
                          </tr>
                          <tr bgcolor="#F7DE97">
                            <td><a href="http://www.halifax.ca/revenue/genrev/tickets_notice.html" target="_new">Pay my parking ticket</a></td>
                          </tr>
                          <tr bgcolor="#F7DE97">
                            <td><a href="http://www.halifax.ca/pesticides/permit_login.html">Apply to use pesticides</a></td>
                          </tr>
                          <tr bgcolor="#F7DE97">
                            <td><a href="http://eservices.halifax.ca/recconnect/">Register for recreation programs</a></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table>
			    </td>
           	  </tr>
			</table>
