<!-- ssi_search: start -->

<table width="180" border="0" cellpadding="0" cellspacing="0">
<tr><td colspan="2"><img src="../../sharedHRM/images/structural/tabs/tab_search.gif" alt="Search" width="80" height="20" /></td></tr>
	<form method="GET" action="http://www.gov.ns.ca/snsmr/gsa.asp">
<tr><td height="35" align="center" valign="middle" bgcolor="#F7DE97">
	<input name="q" type="text" class="search_field" value="" size="10" style="width:135px" /><br />
	<input type="hidden" name="restrict" id="restrict" value="HRM" />
	<input type="hidden" name="output" id="output" value="xml_no_dtd" />
	<input type="hidden" name="client" id="client" value="master_collection" />
	<input type="hidden" name="site" id="site" value="master_collection"/>
	<input type="hidden" name="proxystylesheet" id="proxystylesheet" value="http://www.gov.ns.ca/snsmr/xslt/hrm.xslt" /></td>
	<td align="left" valign="middle" bgcolor="#F7DE97">
	<input name="go" type="image" value="Google Search" src="../../sharedHRM/images/structural/crumbs/go_button.gif" alt="Go" align="middle" width="26" height="15" border="0" />
</td>
</tr></form>

<tr><form name="Quickindex"><td height="30" valign="top" colspan="2" align="center" bgcolor="#F7DE97">
<span class="quicklinks">
<select name="URL" size="0" class="quicklinks_field" onChange="if(options[selectedIndex].value) window.location.href= (options[selectedIndex].value)">
<option value="/index.html" selected style="FONT-WEIGHT: bold; COLOR: navy">Or select a Quick Link</option>
<option value="#"></option>
<option value="http://www.halifax.ca/activetransportation/index.html">Active Transportation</option>
<option value="http://www.halifax.ca/civicaddress/index.html">Addressing</option>
<option value="http://www.halifax.ca/revenue/genrev/alarm_permits.html">Alarm Permits</option>
<option value="http://www.halifax.ca/annualreports.html">Annual Reports</option>
<option value="http://www.halifax.ca/cah/index.html">Arts/Culture/Heritage</option>
<option value="http://www.halifax.ca/boardscom/index.html">Boards/Committees</option>
<option value="http://www.halifax.ca/budget/index.html">Budgets</option>
<option value="http://www.halifax.ca/metrotransit/Schedules/index.html">Buses & Ferries</option>
<option value="http://www.halifax.ca/business_systems/index.html">Business Sys &amp; Controls</option>
<option value="http://www.halifax.ca/business_parks/index.html">Business Parks</option>
<option value="http://www.halifax.ca/business/busindex.html">Businesses on the Web</option>
<option value="http://www.halifax.ca/legislation/index.html">By-laws</option>
<option value="http://www.halifax.ca/contact.html#enforcement">By-law Enforcement</option>
<option value="http://www.halifax.ca/capitaldistrict/">Capital District</option>
<option value="http://www.halifax.ca/designcon/cons/index.html">Capital Projects</option>
<option value="http://www.halifax.ca/mediaroom/cao.html">Chief Admin. Office</option>
<option value="http://www.halifax.ca/civicaddress/index.html">Civic Addressing</option>
<option value="http://www.halifax.ca/environment/getinvolved.html">Climate Change</option>
<option value="http://www.halifax.ca/recreation/comdev.html">Community Development</option>
<option value="http://www.halifax.ca/contact.html">Contact HRM</option>
<option value="http://www.halifax.ca/council/index.html">Council, Regional</option>
<option value="http://www.halifax.ca/commcoun/cc.html">Council, Community</option>
<option value="http://www.halifax.ca/districtLookup/">Councillor Lookup</option>
<option value="http://www.halifax.ca/districts/councillors.html">Councillors</option>
<option value="http://www.halifax.ca/culturalplan/index.html">Cultural Plan</option>
<option value="http://www.halifax.ca/customer_service/index.html">Customer Service</option>
<option value="http://www.halifax.ca/cycling/index.html">Cycling</option>
<option value="http://www.halifax.ca/community/fact1.html">Demographics</option>
<option value="http://www.halifax.ca/designcon/design/index.html">Design/Construction</option>
<option value="http://www.halifax.ca/planning/index.html">Development</option>
<option value="http://www.halifax.ca/regionalplanning/index.html">Directing the Action</option>
<option value="http://www.halifax.ca/districtLookup/">District Lookup</option>
<option value="http://www.halifax.ca/revenue/genrev/pitter.html">Dog Licenses</option>
<option value="http://www.halifax.ca/economicstrategy/index.html">Economic Strategy</option>
<option value="http://www.halifax.ca/community/education.html">Education</option>
<option value="http://www.halifax.ca/hr/index.html">Employment</option>
<option value="http://www.halifax.ca/environment/aboutems.html">Environmental Mgmt Svcs</option>
<option value="http://www.halifax.ca/emo/index.html">Emergency Measures</option>
<option value="http://www.halifax.ca/finance/index.html">Finance</option>
<option value="http://www.halifax.ca/recreation/field_conditions.asp">Field Conditions</option>
<option value="http://www.halifax.ca/fire/index.html">Fire &amp; Emergency</option>
<option value="http://www.halifax.ca/film/index.html ">Filming in HRM</option>		
<option value="http://www.halifax.ca/irm/index.html">FOIPOP</option>
<option value="http://www.halifax.ca/boardscom/bccgrants/grants.html">Grants Program</option>
<option value="http://www.halifax.ca/heritage/index.html">Heritage Tourism</option>
<option value="http://www.halifax.ca/planning/herimain.html">Heritage Property Program</option>
<option value="http://www.halifax.ca/harboursol/index.html">Harbour Solutions</option>
<option value="http://www.halifax.ca/planning/homeless.html">Homelessness Reports</option>
<option value="http://www.halifax.ca/corporate_scorecard.html">HRM Scorecard</option>
<option value="http://www.halifax.ca/hr/index.html">Human Resources</option>
<option value="http://www.halifax.ca/newcomers/index.html">Immigration</option>
<option value="http://www.halifax.ca/lakes/index.html">Lakes By-law Committee</option>
<option value="http://www.halifax.ca/legal/index.html">Legal Services</option>
<option value="http://www.halifaxpubliclibraries.ca">Libraries</option>
<option value="http://www.halifax.ca/council/mayor/mayprof.html">Mayor</option>
<option value="http://www.halifax.ca/mediaroom/index.html">Media Room</option>
<option value="http://www.halifax.ca/metrotransit/">Metro Transit</option>
<option value="http://www.halifax.ca/municipalclerk/index.html">Municipal Clerk's Office</option>
<option value="http://www.halifax.ca/environment/index.html">Naturally Green</option>
<option value="http://www.halifax.ca/mediaroom/pressrelease/releases.html">News Releases</option>
<option value="http://www.halifax.ca/accesshrm/index.html">Online Customer Service</option>
<option value="http://www.halifax.ca/revenue/genrev/tickets_notice.html">Online Parking Payments</option>
<option value="http://www.halifax.ca/revenue/genrev/parking_tickets.html">Parking Tickets</option>
<option value="http://visitors.halifax.ca/trails.shtml">Parks</option>
<option value="http://www.halifax.ca/parks/RestoringParks.html">Parks Restoration</option>
<option value="http://www.halifax.ca/pesticides/permit_login.html">Pesticide Application</option>
<option value="http://www.halifax.ca/pesticides/index.html">Pesticide By-law</option>
<option value="http://www.halifax.ca/planning/index.html">Planning</option>
<option value="http://www.halifax.ca/police/index.asp">Police</option>
<option value="http://www.halifax.ca/pollutionprevention/index.html">Pollution Prevention</option>
<option value="http://www.halifax.ca/procurement/index.html">Procurement</option>
<option value="http://www.halifax.ca/real_property/PropertiesForSale.html">Properties for Sale</option>
<option value="http://www.halifax.ca/works/index.html">Public Works</option>
<option value="http://www.halifax.ca/real_property">Real Property Services</option>
<option value="http://eservices.halifax.ca/RecConnect/">RecConnect</option>
<!-- <option value="http://www.halifax.ca/recreation/catalogue/welcome.html">Recreation Catalogue</option> -->
<option value="http://www.halifax.ca/recreation/index.html">Recreation Tourism &amp; Culture</option>
<option value="http://www.halifax.ca/regionalplanning/index.html">Regional Planning</option>
<option value="http://www.halifax.ca/revenue/index.html">Revenue</option>
<option value="http://www.halifax.ca/safecommunities/index.html">Safe Communities</option>
<option value="http://www.halifax.ca/services/seniorssnow.html">Seniors Snow Removal</option>
<option value="http://www.halifax.ca/works/streets/snow_ice.html">Snow &amp; Ice Control</option>
<option value="http://www.halifax.ca/boardscom/smoking/index.html">Smoke-Free Area By-law</option>
<option value="http://www.halifax.ca/smbc/index.html">St. Mary's Boat Club</option>
<option value="http://www.halifax.ca/StreetDirectory/">Street Maintenance Directory</option>
<option value="http://www.halifax.ca/revenue/tax/taxmain.html">Tax Information</option>
<option value="http://www.halifax.ca/taxreform/index.html">Tax Reform</option>
<option value="http://www.halifax.ca/whosejob.html">Telephone/Who to Call</option>
<option value="http://www.halifax.ca/procurement/index.html">Tenders</option>
<option value="http://www.halifax.ca/visitors.asp">Tourism</option>
<option value="http://www.halifax.ca/traffic/index.html">Traffic</option>
<option value="http://www.halifax.ca/Volunteer/index.html">Volunteer Nominations</option>
<option value="http://www.halifax.ca/wrms/index.html">Waste/Resources Mgmt</option>
<option value="http://www.halifax.ca/Works/wwt/index.html">Wastewater Treatment</option>
<option value="http://www.hrwc.ns.ca">Water Commission</option>

</select></span>
</td></form></tr>

</table>
<!-- ssi_search: end -->