<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<body>
Content above composition tag will not be rendered.
<ui:composition>
	<div id="SectionNav">
	<div id="SectionNavIcons"><span id="SectionAboutUs"
		class="SectionAboutUs" style="padding-right: 10px">
		 <ui:insert	name='aboutUsURL'>
		<a
			href="http://insidehrm/BusinessUnits/InformationTechnology/AboutUs.html"
			rel="nofollow" onmouseout="JSFX.fadeOut('AboutUs')"> <img
			id="AboutUs" name="AboutUs" class="imgFader"
			src="http://insidehrm/System/_images/AboutUsIcon.jpg" alt="About Us"
			title="About Us" border="0" /></a>
		</ui:insert>
	 </span> <span id="SectionContactUs" class="SectionContactUs">
	  <ui:insert name='contactUsURL'>
		<a
			href="http://insidehrm/BusinessUnits/InformationTechnology/ContactUs.html"
			rel="nofollow" onmouseout="JSFX.fadeOut('ContactUs')"> <img
			id="ContactUs" name="ContactUs" class="imgFader"
			src="http://insidehrm/System/_images/ContactUsIcon.jpg"
			alt="Contact Us" title="Contact Us" border="0" /></a>
	</ui:insert> 
	</span>
	</div><!-- SectionNavIcons -->

	<div id="SectionNavLinks">
	<ui:insert name="customMenuLinks">
	<p><a href="http://insidehrm">Return to InsideHRM</a></p>
	</ui:insert>
	</div>
	<!-- SectionNavLinks -->

	<div class="ClearBoth"></div>
	</div><!-- SectionNav -->

</ui:composition>
Content below composition tag will not be rendered.
</body>
</html>