<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<head>
<title><ui:insert name="title">HRM Custom Applications</ui:insert></title>
<link href="http://insidehrm/sharedHRM/css/intranet.css"
	rel="stylesheet" type="text/css" media="screen" />
<link href="http://insidehrm/System/_css/New.css" rel="stylesheet"
	type="text/css" media="screen" />
<link href="http://insidehrm/sharedHRM/css/ITstyles.css"
	rel="stylesheet" type="text/css" media="screen" />
<link href="http://insidehrm/sharedHRM/css/ITclassic.css"
	rel="stylesheet" type="text/css" media="screen" />
<link href="http://insidehrm/System/_css/DynamicStyleSizes.css"
	rel='stylesheet' type='text/css' media='screen' />
<!-- Include the tabber code And it has to be placed here-->
<script type="text/javascript"
	src="http://insidehrm/System/_scripts/tabber.js"></script>


<!--  it is placed here for the case when custom styles are defined in an application -->
<ui:insert name="style">
	<link href="css/local.css" rel="stylesheet" type="text/css"
		media="screen" />
</ui:insert>

<script language="JavaScript"
	src="http://insidehrm/System/_scripts/Default.js"
	type="text/JavaScript"></script>
<script language="JavaScript"
	src="http://insidehrm/System/_scripts/MainNavigation.js"
	type="text/JavaScript"></script>

</head>

<body>


<div id="OuterPerimeter">
<div id="LeftBorder">
<div id="RightBorder">
<div id="InnerContent" style="width: 100%;"><ui:insert
	name="header">
	<div id="SiteHeader">
	<div id="Icons">

	<table id="Table_01" width="335" height="60" border="0" cellpadding="0"
		cellspacing="0">
		<tr>
			<td><a id="Words" style="color: #fff; font-weight: bold;">&nbsp;</a></td>
			<td><a
				onmouseover="javascript:document.getElementById('Words').innerHTML = description[0];"
				onmouseout="document.getElementById('Words').innerHTML = '';"
				href="http://insidehrm/EmployeeCorner/"><img
				src="http://insidehrm//System/_images/Employee-Corner.gif" width="58" height="60"
				border="0" alt="Employee Corner" title="Employee Corner"/></a></td>
			<td><a
				onmouseover="document.getElementById('Words').innerHTML = description[1];"
				onmouseout="document.getElementById('Words').innerHTML = '';"
				href="http://hrmforms:9090/QueryPhoneBook/" target="_blank"><img
				src="http://insidehrm/System/_images/Phone-Directory.gif" width="55" height="60"
				border="0" alt="Phone Directory" title="Phone Directory"/></a></td>

			<td><a
				onmouseover="document.getElementById('Words').innerHTML = description[2];"
				onmouseout="document.getElementById('Words').innerHTML = '';"
				href="http://hrmforms:9091/LDAPLogin"><img
				src="http://insidehrm/System/_images/IT-Applications.gif" width="55" height="60"
				border="0" alt="IT Applications" title="IT Applications"/></a></td>
			<td><a
				onmouseover="document.getElementById('Words').innerHTML = description[3];"
				onmouseout="document.getElementById('Words').innerHTML = '';"
				href="http://insidehrm/gw/webacc" target="_blank"><img
				src="http://insidehrm/System/_images/Groupwise-Login.gif" width="60" height="60"
				border="0" alt="Groupwise Login" title="Groupwise Login" /></a></td>
			<td><a
				onmouseover="document.getElementById('Words').innerHTML = description[4];"
				onmouseout="document.getElementById('Words').innerHTML = '';"
				href="http://insidehrm/BusinessUnits/GISS/GISSApplications.html"><img
				src="http://insidehrm/System/_images/GISS.gif" width="61" height="60" border="0"
				alt="GISS - Geographic Information Systems and Services"
				title="GISS - Geographic Information Systems and Services"/></a></td>
			<td><a
				onmouseover="document.getElementById('Words').innerHTML = description[5];"
				onmouseout="document.getElementById('Words').innerHTML = '';"
				href="http://insidehrm/Application/ITAlert_Public/ITAlertList.asp"> <script
				language="javascript">
								HttpRequest("/sharesdHRM/includes/intranet/AlertIconASP.asp"); //include "external.htm" onto current page
								drawIcon();
                                                        </script> </a></td>
			<td><a
				onmouseover="document.getElementById('Words').innerHTML = description[6];"
				onmouseout="document.getElementById('Words').innerHTML = ''"
				href="http://www.halifax.ca/" target="_blank"><img
				src="http://insidehrm/System/_images/Halifax.ca.gif" width="55" height="60"
				border="0" alt="Halifax.ca" title="Halifax.ca"/></a></td>


		</tr>
	</table>

	</div>
	<!-- Icons -->

	<div id="Logo" style="float: left;"><a href="/"> <img
		src="http://insidehrm/System/_images/Logo.jpg" width="245" height="60"
		border="0" alt="InsideHRM" title="InsideHRM"></img></a></div>

	<div class="ClearBoth"></div>

	</div>
	<!-- siteHeader -->

</ui:insert><!-- header -->

<TABLE CELLSPACING="0" CELLPADDING="0" border="0" WIDTH="100%"
	BGCOLOR="#FFFFFF">
	<tr>
		<td colspan="3"><img
			src="http://insidehrm/sharedHRM/images/intranet/bar.gif" width="100%"
			height="5"></img></td>
	</tr>
	<TR style="background: url('images/background.gif') repeat-x;">
		<TD align="left"><ui:insert name="customIcon"></ui:insert>
		<div
			style="padding-top: 15px; padding-left: 30px; font: 20px bold Verdana, Arial, Helvetica, sans-serif;">
		<ui:insert name="title"></ui:insert></div>
		</TD>

		<TD ALIGN="RIGHT"><IMG SRC="images/Banner.jpg" BORDER="0" /></TD>
	</TR>
	<TR>
		<TD COLSPAN="3"><img
			src="http://insidehrm/sharedHRM/images/intranet/bar.gif" width="100%"
			height="5"></img></TD>
	</TR>

</TABLE>
<ui:insert name="customMenuTop" /><!-- include custom menu links in the JSF page if needed like this <ui:define name='customMenu'>
 <ui:include src="/local/customMenu.xhtml"/></ui:define>.  -->



<div id="MainContentArea" style="width: 100%;">

<div id="ContentArea" style="text-align: center; width: 96%;"><ui:insert
	name="content"></ui:insert></div>
<ui:insert name="customMenuBottom" >
 <ui:include src="customMenu.xhtml"/><!-- default customMenu with AboutUS and ContactUs links for IT -->
</ui:insert>
	</div><!-- MainContentArea -->
	</div><!-- InnerContent -->
	</div><!-- LeftBorder -->
	</div><!-- RightBorder -->



<div id="SiteFooterShadow">
<div id="SiteFooterShadowRight">&nbsp;</div>
<div id="SiteFooterShadowLeft">&nbsp;</div>
<div class="ClearBoth"></div>
</div>

<div id="SiteFooter">
<div id="SiteFooterText">
<div id="SiteFooterLinks"></div>
<div id="SiteFooterDateLastUpdated"></div>
</div>
<!-- SiteFooterText -->

<div id="SiteFooterHRMLogo"><a href="http://www.halifax.ca/"
	target="_blank"> <img
	src="http://insidehrm/System/_images/HRMLogo.jpg"
	alt="Goto: Halifax.ca" title="Goto: Halifax.ca" border="0" /></a></div>
<!-- SiteFooterHRMLogo -->

<div class="ClearBoth"></div>
</div>
<!-- SiteFooter --></div>
<!-- OuterPerimeter -->
</body>
</html>