body {background: white;
	margin:0;
}

.top { vertical-align: top; horizontal-align: middle; }

a {text-decoration: none;}

img {border: 0}

.HRMLogoCentered {
	text-align: center;
	background: #FFFFFF;
	width: 100%;
}
.HRMLogo {
	background: #FFFFFF;
	width: 100%;
}

.header {
	border: 0;
	font-family: tahoma, arial, helvetica, sans-serif;
	margin: 0;
	height: 47px;
	text-align: center;
	background-image: url("/sharedHRM/images/background3.gif");
	background-repeat: repeat; 
	width: 100%;
}

.header2 {
	border: 0;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-weight: bold;
	margin: 0;
	height: 47px;
	text-align: center;
	color: blue;
	width: 100%;
}


.headertext {
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: gold;
	text-align: center;
}

.headerTextNavy {
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: navy;
	text-align: center;
}

.headertext2 {
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: blue;
	text-align: center;
}

.leftalign {
	text-align: left;
	horizontal-align: left;
}

.HRMLabel {
	color: rgb(86, 106, 169); 
	font-style: normal; 
	font-family: tahoma,Arial,Helvetica,sans-serif; 
	font-weight: bold; 
	font-size: 10px; 
	/* vertical-align: middle;
	horizontal-align: left; */
}

.HRMTableHeader {
	font-style: normal;
	font-family: tahoma,Arial,Helvetica,sans-serif;
	font-weight: bold; 
	font-size: 10px; 
	color: blue;
}

.HRMTable {
	text-align: center;
}

.HRMTableFullLeft {
	text-align: left; 
	width: 100%;
}

.HRMTableFull {
 	text-align: center; 
	width: 100%;
}

.HRMTable95 {
 	text-align: center; 
	width: 95%;
}

.HRMTable50 {
 	text-align: center; 
	width: 50%;
}

.HRMTableFullCentre {
	text-align: center;
	width: 100%;
	height: 50%;
}



.HRMTableData {
	font-style: normal;
	font-family: tahoma,Arial,Helvetica,sans-serif;
	font-size: 10px;
	color: black;
	text-align: left;
}

.HRMFormLabel {
	font-style: normal;
	font-family: tahoma,Arial,Helvetica,sans-serif;
	font-size: 10px;
	color: navy;
}
.HRMFormData {
	font-style: normal;
	font-family: tahoma,Arial,Helvetica,sans-serif;
	font-size: 10px;
	color: black;
}
.HRMFormDataBold {
	font-style: normal;
	font-family: tahoma,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: black;
}

.HRMOutputLeft {
   font-style: normal;
   font-family: tahoma, Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: black;
   text-align: left;
}

.HRMFormDataItalic {
	font-style: italic;
	font-family: tahoma,Arial,Helvetica,sans-serif;
	font-size: 10px;
	color: black;
}
.HRMLink {
	color: rgb(86, 106, 169);
	font-style: normal;
	font-family: tahoma,Arial,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 12px;
	vertical-align: middle;
	horizontal-align: left;
	text-decoration : underline;
}

.HRMLinkSmaller {
	color: blue;
	font-style: normal;
	font-family: tahoma,Arial,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 10px;
	vertical-align: middle;
	horizontal-align: left;
	text-decoration : underline;
}

.HRMLock {
	color: #6A6A6A;
	font-style: normal;
	font-family: tahoma,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 12px;
	vertical-align: middle;
	horizontal-align: left;
	text-decoration : underline;
}
.HRMHeaderLive {
	color: rgb(86, 106, 169); 
	font-style: underline; 
	font-family: tahoma,Arial,Helvetica,sans-serif; 
	font-weight: bold; 
	font-size: 10px; 
	vertical-align: middle;
	horizontal-align: center
}

.HRMHeaderDead {
	color: navy; 
	font-style: normal; 
	font-family: tahoma,Arial,Helvetica,sans-serif; 
	font-weight: bold; 
	font-size: 10px; 
	vertical-align: middle;
	horizontal-align: center
}

.HRMHeaderSmaller {
	color: navy; 
	font-style: normal; 
	font-family: tahoma,Arial,Helvetica,sans-serif; 
	font-weight: bold; 
	font-size: 12px; 
}

.headerTextLarger {
	font-size: 14pt;
	color: black;
	font-weight: bold;
}

/*.HRMButton {
	font-size: 9px; 
} */

.errorMsg {
	color: red;
	font-style: normal; 
	font-family: tahoma,Arial,Helvetica,sans-serif; 
	font-weight: bold; 
	font-size: 11px;
}

.infoMsg {
  	color: blue;
  	font-style: normal; 
	font-family: tahoma,Arial,Helvetica,sans-serif; 
	font-weight: bold; 
	font-size: 11px;
}	

.infoMsgLarger {
	color: blue;
  	font-style: normal; 
	font-family: tahoma,Arial,Helvetica,sans-serif; 
	font-weight: bold; 
	font-size: 12px;
}

.fatalMsg { 
	color: red;
	font-style: normal; 
	font-family: tahoma,Arial,Helvetica,sans-serif; 
	font-weight: bold; 
	font-size: 11px;
}

.warnMsg {
	color: green;
	font-style: normal; 
	font-family: tahoma,Arial,Helvetica,sans-serif; 
	font-weight: bold; 
	font-size: 11px;
}

.cellalign {
	vertical-align: middle;
}


/* This is mostly for use with JSF dataTable columnClasses attribute */
.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}	

.stronger {
    font-family: tahoma,Arial,Helvetica,sans-serif; 
	font-weight: bold; 
	font-size: 12px;
    }
.note {
    font-family: tahoma,Arial,Helvetica,sans-serif; 
	font-weight: normal; 
	font-size: 10px;
	font-style: italic;
	}
.noteblue {
    font-family: tahoma,Arial,Helvetica,sans-serif; 
	font-weight: normal; 
	font-size: 10px;
	color: navy;
}



.FormData {
	font-style: normal;
	font-family: tahoma,Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: black;
}

.FormDataItalic {
	font-style: italic;
	font-family: tahoma,Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: black;
}