/*  Links & Anchors  */
a:link,a:active 		{ color: #000088; text-decoration: none; }
a:visited 				{ color: #274ABA; text-decoration: none; }
a:hover 				{ color: #bb0000; text-decoration: underline; }

a.sideheader:link,a.sideheader:active,a.sideheader:visited	{ color: #000066; }
a.sideheader:hover 											{ color: #bb0000; }

/* Is the a.side_link style below still relevant? */
a.side_links:link,a.side_links:active	{ color: #000088; font-size: .7em; }
a.side_links:visited 					{ color: #274ABA; font-size: .7em; }
a.side_links:hover 						{ color: #bb0000; font-size: .7em; }
/* Is the a.side_link style above still relevant? */

a.footer_links:link,a.footer_links:active 	{ color: #000088; }
a.footer_links:visited 						{ color: #274ABA; }
a.footer_links:hover 						{ color: #bb0000; }

a.mmhide_emo_only_critical_alert:link,a.mmhide_emo_only_critical_alert:active,a.mmhide_emo_only_critical_alert:visited 	{ color: #ffffff; font-size: .85em; text-align:center; }
a.mmhide_emo_only_critical_alert:hover 				{ color: #FCF5D1; font-size: .85em; text-align:center; text-decoration: underline; }

table.side_links 	 								{ font-size: .7em; }
table.side_links a:link,table.side_links a:active	{ color: #000088; }
table.side_links a:visited 							{ color: #274ABA; }
table.side_links a:hover 							{ color: #bb0000; }

/* For Old Links With 'side_link' applied to the TD tag instead of the TABLE tag 
td.side_links a:link,td.side_links a:active			{ color: #000088; }
td.side_links a:visited 							{ color: #274ABA; }
td.side_links a:hover 								{ color: #bb0000; }
*/

td.sidelink_headers a:link,td.sidelink_headers a:active,td.sidelink_headers a:visited	{ color: #3A3A4B; }
td.sidelink_headers a:hover 						{ color: #3A3A4B; text-decoration: underline; }

/*  HTML Tags  */
body 				{ background-color: #E9E9D2; background-image: url("/sharedHRM/images/structural/crumbs/background.gif"); background-repeat: repeat-x; margin: 0; font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000; font-size: 100%; }
p					{ font-size: 1.0em; }
h1,h2,h3,h4,h5,h6	{ color: #1C4374; }
table,td td,td ul,ol,ol ol,ul,ul ul { font-size: 1.0em; }

/*  TAG-dependent CLASSES  */
p.header2 						{ color: #FFFFFF; text-align: center; background-color: #003366; font-weight: bold; margin: 0px; border: none; }  /* In use by Harbour Solutions */
ol.topfivelist					{ color: #000000; margin-left: 0em; }

/*  Independent CLASSES  */
.search_field					{ font-size: .7em; width: 100px; }
.quicklinks_field				{ font-size: 11px; width: 165px; } /* need to keep this size in px for drop down  */
.quicklinks_field_in_menu		{ font-size: 11px; width: 161px; } /* need to keep this size in px for drop down  */
.footer_section					{ font-size: .7em; text-align: center;  }
.side_text						{ color: #000088; }				   /* this style should try to be phased out to make room for table.side_links */
.photo_caption					{ color: #000088; font-size: .8em; }
.mmhide_emo_only_alert_lastupd 	{ font-size: .8em; text-align:center; }
.frontblue						{ color: #336699; font-size: 1.2em; font-style:italic; font-weight: bold; }
.fireheadings					{ color: #cc0000; font-size: 11pt; font-weight: bold; }
.firesubheadings				{ color: #cc0000; font-size: 8.5pt; }
.firesubheadingsgrey			{ color: #999999; font-size: 8.5pt;	}
.date_text						{ color: #666666; font-size: .8em; }
.police_content_header			{ color: #1C4374; font-size: 1.2em; font-weight: bold; }
.mmhide_emo_alert				{ font-size: .7em; }

/* New Styles for DPCSI & Contribute */
.smallText						{ font-size: .7em; }
.middleText						{ font-size: .8em; }
.redText						{ color: #cc0000; } 
.redTextStrong					{ color: #cc0000; font-weight: bold; }
.redTextStrItl					{ color: #cc0000; font-weight: bold; font-style: italic; }
.title							{ font-size: 1.5em; color: #1C4374; font-weight: bold; }
.centeralign					{ horizontal-align: middle; vertical-align: middle; text-align: center; }

/* Style for form elementsin DPCSI and other Java apps */
.formButtons 					{background-color: none; border: 0; cursor:hand;}
.buttonIMG						{cursor:hand;}

/*  IDs  */ 
#norepeat						{ background-repeat: no-repeat; } 

td.column60						{ width: 60% }
td.column40 					{ width: 40% }
td.column70						{ width: 70% }
td.column30 					{ width: 30% }

/********************************************************************
*	Table styles for Web Services apps								*
*																	*
*********************************************************************/
.evenRow {
   height: 25px;
   vertical-align: top;
   text-align: left;
   background-color: #FBEECB;
}

.evenRowAlt {
   height: 25px;
   vertical-align: middle;
   text-align: center;
   background-color: #FFFFFF;
}

.oddRowAlt {
   height: 25px;
   vertical-align: middle;
   text-align: center;
   background-color: #DBE7F5;
}


.oddRow {
   height: 25px;
   vertical-align: top;
   text-align: left;
   background-color: #FFFFFF;
}
.nestedRow {
   width: 100%;
   vertical-align: top;
   text-align: left;
   background: #F7DE97;
}
.cntrlTblHead {
 	width: 100%;
   	vertical-align: top;
   	text-align: left;
	background-color: #F7DE97
}

.errorMessage
	{
		color: #cc0000;
		font-weight: bold;
		font-style: italic;
	}
	
.infoMessage
	{
		color: green;
		font-weight: bold;
		font-style: italic;
	}
/*****************************************/
/*** Styles for Permitting Application ***/
/****************************************/
.columnHeaders    {font-weight: bold; background-color: #F7DE97; white-space: nowrap;}
.tableContents    {font-size: 11px; }
.tableContentsAlt   {background-color: #FBEEC8; }
.tableContentsSelected  {background-color: #F7DE97; }
.permitTitle	{ font-size: 20px; color: #1C4374; font-weight: bold; }
.fieldTitles {font-weight: bold;}

/*****************************************/
/*** Styles for AVL Application ***/
/****************************************/
.columnHeadersAlt    {font-weight: bold; font-size: 12px; color: #FFFFFF; background-color: #1E4475; white-space: nowrap;}

a.selectedLink:link, a.selectedLink:active, a.selectedLink:visited, a.selectedLink:hover{
    color: #E65C00;
}

.selectedImage{
    border: 1px solid #E65C00;
}
/******************************/
/*** STRUCTURAL DEFINITIONS ***/
/******************************/

/*  Level - 0  */
table#perimeter			{ width: 720px;} 
.perimeter			{ width: 720px; horizontal-align: middle; } 
td#header				{ vertical-align: bottom; text-align: center; }
td#stage,td#base_bar	{ vertical-align: top; }
td#footer				{ height: 65px; text-align:center; }

/*  Level - 1  */
table#stage_section		{ width: 720px; }
td#stage_left			{ width: 200px; vertical-align: top; background-color: #FBEECB; }
.stage_left			{ width: 200px; vertical-align: top; background-color: #FBEECB; }
td#stage_centre			{ width: 520px; vertical-align: top; center; background-color: #FFFFFF; }
.stage_centre			{ width: 520px; vertical-align: top; center; background-color: #FFFFFF; }
td#stage_centre_cover	{ width: 391px; vertical-align: top; background-color: #FFFFFF; }
td#stage_right_cover	{ width: 129px; vertical-align: top; background-color: #FBEECB; }

/*  Level - 2A  */
table#left_section		{ width: 200px;  }
td#left_top,td#left_middle,td#left_bottom { vertical-align: top; text-align: left; }

/*  Level - 2B  */
table#centre_section 		{ width: 520px; }
td#centre_header,td#centre_header_text { color: #1C4374; vertical-align: top; font-size: 1.5em; text-align: center; font-weight: bolder; font-family: Verdana, Arial, Helvetica, sans-serif; }
td#centre_content,td#centre_header_cover,td#centre_content_cover { vertical-align: top; }
table#centre_section_cover 	{ width: 391px; }
td#centre_emergency_cover 	{ font-size: .8em; }
table#center_right			{ vertical-align: top; horizontal-align: left; font-size: .8em; }
/*  Level - 2C  */
table#right_section_cover 	{ width: 129px; }
td#right_emergency_cover,td#right_top_cover,td#right_middle_cover,td#right_bottom_cover	{ vertical-align: top; text-align: center; }

/*  Level - 3  */
table#content_section						{ width: 520px; }
td#content_main,td#content_main_cover		{ vertical-align: top; horizontal-align: left; font-size: .8em; }
td#content_footer,td#content_footer_cover	{ vertical-align: top; text-align: right; font-size: .8em; }
table#content_section_cover					{ width: 391px; }

@media print {
body 					{ background-color: #ffffff; }

/*  Level - 0  */
table#perimeter			{ width: 100%; } 
td#header,td#base_bar	{ display: none; }

/*  Level - 1  */
table#stage_section,td#stage_centre,td#stage_centre_cover { width: 100%; }
td#stage_left,td#stage_right_cover { display: none; }

/*  Level - 2A  */
table#left_section { display: none; }

/*  Level - 2B  */
table#centre_section,table#centre_section_cover { width: 100%; }

/*  Level - 2C  */
table#right_section_cover 	{ display: none; }

/*  Level - 3  */
table#content_section 		{ width: 100%; }
td#content_footer 			{ display: none; }
