@import url(http://hrmintranet/system/_css/_Global.css);


.evenRow {
   height: 25px;
   vertical-align: middle;
   text-align: left;
   background-color: #F2F4F7;
}


.oddRow {
   height: 25px;
   vertical-align: middle;
   text-align: left;
   background-color: #FFFFFF;
}

.errorMessage
	{
		color: #cc0000;
		font-weight: bold;
		font-style: italic;
	}
	
.infoMessage
	{
		color: green;
		font-weight: bold;
		font-style: italic;
	}	
.pageTitle
	{
	/*	Defines default page header characteristics  */
	font-size:15px;
	font-weight:bold;
	color:#111111;
	padding:0;
	padding-top:8px;
	margin:0;
	text-align: left;

	}
	
	.searchTable
	{
	border:1px solid #E0E0E0;
	text-align: left;
	}
	
	.searchHeader
	{
	background-color: #E8E8E8;
	font-weight: bold;
	text-align: left;
	}
	
	.equalColumns{
		width: 33%;	
	}
	

.StreetDirectoryTableHeaders{
	background:#E1E1E1;
	text-align: left;
}

th.StreetDirectoryTableHeaders a:link {
/*	Define properties for main body un-visited links  */
	color:#000000;
	text-decoration:none;
}

th.StreetDirectoryTableHeaders a:visited {
/*	Define properties for main body visited links  */
	color:#000000;
	text-decoration:none;
}

th.StreetDirectoryTableHeaders a:hover {
/*	Defines properties for main body links in mouse-over state
	color: Controlled by MAIN SECTION CSS files (ie. departments, policies, forms, etc  */
	text-decoration: underline;
	color:#888888; /* 447911 */
	
/* ==========CSS for DOJO Floating Panes ========================*/
	/* Wrapper around whole pane */
	
	body .dojoFloatingPaneTitleBar {
		background-color: #6E9EBF;
		font-weight: normal;
	}

	body .dojoFloatingPaneTitleText {
		padding: 4px 4px 2px 4px;
	}


	body .dojoFloatingPaneResizebar 
	{
		 background: white;
	}
	 
	/* Content area */
	body .dojoFloatingPaneClient {
	  margin: 0px;
	  border: 0px;
	  background: white;
	}
		
	body .dojoFloatingPaneClient {
	
	   padding: 2px;
	}
		
	body .dojoTooltip
	{
		font-size: 11px; 
	}

