.InputLabel {
	color: navy;
	font-style: normal;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align : left;
}
.InputData {
	color: navy;
	font-style: normal;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align : left;
}
.Panel {
	background-color: silver;
	border-width: 1px;
}
.FormLabel {
	font-weight: bold;
}
.RawData {
	font-style: normal;
	font-family: Courier New,Arial,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-align : left;
	color: navy;
}
.FormData {
	color:#5B8CAB;
	text-decoration: none;
}

.FormDataDead {
	color: #555555;
	text-decoration: none;
}
.FormDataRed {
	font-style: normal;
	font-family: "Times New Roman",tahoma,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align : left;
	color: red;
	background-color : rgb(240,240,240);
	width : 100%;
}
.FormDataGreen {
	font-style: normal;
	font-family: "Times New Roman",tahoma,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align : left;
	color: green;
	background-color : rgb(240,240,240);
	width : 100%;
}
.FormDataOrange {
	font-style: normal;
	font-family: "Times New Roman",tahoma,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align : left;
	color: orange;
	background-color : rgb(240,240,240);
	width : 100%;
}
.CompactText{
	color: black;
	font-style: normal;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 9px;
}
.CompactData {
	font-style: normal;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: black;
	background-color : rgb(240,240,240);
	width : 100%;
}
.CompactDataDead {
	font-weight: bold;
	color: #666666;
}
.LinkText {
	font-style: normal;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 9px;
	color: navy;
}
.errorMsg {
	color: red;
	font-style: normal; 
	font-family: Tahoma,Arial,Helvetica,sans-serif; 
	font-weight: bold; 
	font-size: 11px;
}
.w10p {
	width: 45px;
}
.w10m {
	width: 8em;
}
.w12m {
	width: 11em;
}
.w20m {
	width: 20em;
}
.WideCell {
	width: 100%;
}
