table.center {
	margin-left:auto;
	margin-right:auto;
	}
	
table.center tr td {
	vertical-align: top;
	}
 body {text-align:center;}


	 .rowYellow{
	  background-color: #ffffdf;
	 }
	.rowRed{
	  background-color: #ffdfdf;
	 }
	 .rowGreen{
	  background-color: #e7ffdf;
	 }
	.rowGrey{
	 background-color: #eeeeee; 
	}
	
	.rowBlank{
	 background-color: white; 
	}
	
	.tableHeader{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: medium; 
	font-weight: bold; 
	}
	.textLabel{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: small; 
	font-weight: bold; 
	}
	
	
	.myFaces_panelTabbedPane_activeHeaderCell input
	{
	background-color: #FFFFFF !important;
    font-family: verdana !important;
    font-size: 12px !important;
	font-weight: bold !important;
	}
	
	.labelColumn{
	 width: 25%;
	}
	
	.contentColumn{
 	width: 75%;
	}